body{
    background-color: rgb(247, 205, 117);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    height: 31rem;
    width: 57rem;
    margin: 8rem auto;
    display: flex;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.bank{
    width: 5rem;
    margin-bottom: 1rem;    
}
.operation{
    width: 1.5rem;
    border: 1px solid gray;
    border-radius: 50%;
}
.left{
    background-color: #F2F2F2;
    width: 35%;
    padding: 1rem 3rem;
    overflow-y: auto;
    height: 100%;
}
.right{
    background-color: white;
    width: 65%;
    overflow-y: auto;
    padding: 1rem 3rem;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
}
.leftheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem; 
}
.balance{
    border-bottom: 1px solid black;
    padding-bottom: 3rem;
    background-color: aquamarine;
}
.date{
    margin-top: 0.5rem;
}
.container{
    display: flex;
    background-color: white;
    height: 8rem;
    width: 14rem;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.part{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;

}
.middle{
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 5px;
    width: 18rem;
}
.activities{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h3{
    margin-bottom: 0;
}
.history{
    margin-top: 0;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: antiquewhite;
}
.accountbalance{
    font-weight:bolder;
    font-size: 1.5rem;
}